<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing tests content</title>
</head>
<body>

    <div th:fragment="content"
         th:with="TabName1 = 'TOPICS',
                  TabName2 = 'NEW_QUESTION',
                  TabName3 = 'VIEW_QUESTIONS',
                  ControllerAddress = '/admin/editing_tests/switch'">

        <div class="container-fluid" style="background-color: darkgrey; display: inline-grid; width: 100%;">

            <!-- Tabs -->
            <span style="display: inline-block; margin: 2vw auto 2px; padding-bottom: 5px; z-index: 5;">
                <a th:class="'' + ${tab.name() == TabName1 ? 'tab activeTab border' : 'tab'}"
                   th:href="${ControllerAddress + '?tab=' + TabName1}">Темы и разделы</a>

                <a th:class="'' + ${tab.name() == TabName2 ? 'tab activeTab border' : 'tab'}"
                   th:href="${ControllerAddress + '?tab=' + TabName2}">Новый вопрос</a>

                <a th:class="'' + ${tab.name() == TabName3 && editing == null ? 'tab activeTab border' : 'tab'}"
                   th:href="${ControllerAddress + '?tab=' + TabName3}">Просмотр вопросов</a>

                <a th:if="${tab.name() == TabName3 && editing != null}"
                   th:class="'tab activeTab border'"
                   th:href="'#'">Редактируемый вопрос</a>
            </span>

            <!-- Content -->
            <div class="container-fluid contentContainer border">
                <div class="row" style="height: 1vw"></div>     <!-- Отступ сверху -->
                <div class="row">
                    <div class="col-1"></div>           <!-- Отступ слева -->
                    <div class="col-10" style="width: 75vw; margin: 0 auto;"><br>

                        <!-- TOPICS -->
                        <div th:if="${tab.name() == TabName1}" th:insert="~{editing_tests/editing_tests-content-topics :: topics}"></div>

                        <!-- NEW_QUESTION -->
                        <div th:if="${tab.name() == TabName2}"
                             th:with="method = 'POST', action = '/entities/exam_questions'"
                             th:insert="~{editing_tests/editing_tests-content-new_question :: new_question}"></div>

                        <!-- VIEW_QUESTIONS -->
                        <div th:if="${tab.name() == TabName3 && editing == null}" th:insert="~{editing_tests/editing_tests-content-view_questions :: view_questions}"></div>

                        <!-- Edit question  -->
                        <div th:if="${tab.name() == TabName3 && editing != null}"
                             th:with="method = 'PATCH', action = '/entities/exam_questions/' + ${editId}"
                             th:insert="~{editing_tests/editing_tests-content-new_question :: new_question}"></div>

                    </div>
                    <div class="col-1"></div>           <!-- Отступ справа -->
                </div>
            </div>

        </div>

    </div>

</body>
</html>