body {
    margin: 0;
    padding: 0;
}

.content {
    background-color: darkgrey;
    width: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 50px);
    font-size: 20px;
    display: inline-block;
    padding: 2vw 10vw;
}

.MODbutton {
    width: 11vw;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background: black;
    height: fit-content;
    padding: 3px;
    text-align: center;
}

/* Diagramm MOD */

.foKnHeader {
    font-style: oblique;
    font-family: monospace;
    font-weight: 700;
}

.topicContainer {
    display: flex;
    padding-left: 2vw;
    width: 75vw;
}

.topic {
    margin: 0 1vw;
    width: 7vw;
}

.topicHeader {
    display: block;
    font-size: 0.8vw;
    color: yellow;
    background: steelblue;
    width: 6vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: indigo;
    text-align: center;
    margin: 0 auto 0.5vw;
}

.filling  {
    width: 3vw;
    background: cornflowerblue;
    margin-top: auto;
}

/* Question and Answer MOD */

.foKnHeaderQueAnsMOD {
    border-radius: 5px;
    background: crimson;
    color: yellow;
    padding: 5px;
    margin: 1.5vw;
    text-align: center;
    font-size: 1.5vw;
}

.topicQueAnsMOD {
    width: 10vw;
    text-align: center;
    margin: .5vw auto;
    font-style: italic;
    font-weight: 700;
}

.userAnswer {
    margin: 1vw 10vw;
    padding: 1vw;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: aliceblue;
    box-shadow: 0px 0px 8px 12px rgb(34 60 80 / 20%);
}
