body {
    margin: 0;
    padding: 0;
}

.content {
    background-color: darkgrey;
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    font-size: 20px;
}

.UnitFoKn {
    width: 7vw;
    margin: auto 3vw auto 0;
    height: 1.2vw;
}

.UnitTopicAndQuantity {
    margin-right: 1vw;
    width: 6vw;
    text-align: center;
}

.UnitQuestionQuantity {

}

/* Убирает стрелочки во всех инпутах type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}