body {
    margin: 0;
    padding: 0;
}

.content {
    background-color: darkgrey;
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    font-size: 20px;
}

.UnitFoKn {
    width: 7vw;
    margin: auto 3vw auto 0;
    height: 1.2vw;
}

.UnitTopicAndQuantity {
    margin-right: 1vw;
    width: 6vw;
    text-align: center;
}

.UnitQuestionQuantity {

}

/* Убирает стрелочки во всех инпутах type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.displaySchemaHeader {
    margin: 2vw 0 0.8vw;
    width: fit-content;
    font-weight: 700;
    color: yellow;
    cursor: default;
}

.displaySchemaHeader:hover {
    text-shadow: 1px 1px 2px grey, 0 0 1em;
}

.displaySchemaUnitContainer {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: yellow;
}

.displaySchemaUnitQuantity {
    font-size: 16px;
    margin: 3px auto;
    padding: 0px 10px;
    width: max-content;
}