body {
    margin: 0;
    padding: 0;
}

.content {
    background-color: darkgrey;
    width: 100%;
    min-height: calc(100vh - 50px);
    display: flex;
    font-size: 20px;
}

.deleteImg {
    display: block;
    margin: auto;
    width: 20px;
}

.deleteImg:hover {
    width: 22px;
}