<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session creation content</title>
</head>
<body>

    <div th:fragment="content" class="content">

        <div th:if="${showCredentials == null || !showCredentials}" style="margin: 2vw 12.5vw; height: fit-content;">

            <div style="width: 40vw; display: inline-block; margin-bottom: 2vw;">
                <div th:style="'font-size: 38px; font-style: italic; font-weight: 700;' + ${displaySchemes == false ? '' : 'color: yellow;'}">Создание нового сеанса</div>

                <br><br>

                <div>
                    <span style="margin-right: 3vw;">Загрузить схему</span>
                    <form method="get" action="/admin/session_creation/loading_schema" name="LoadSessionSchemaForm" style="display: inline-block;">
                        <select name="schemaId" th:style="'width: 20vw; border-radius: 5px;' + ${SchemaModel.getId() == null ? ' color: gray' : ''}" onchange="document.LoadSessionSchemaForm.submit();">
                            <option selected disabled hidden th:label="${SchemaModel.getId() == null ? 'Выбрать схему' : SchemaModel.getName()}">Выбрать схему</option>
                            <option th:each="schema : ${schemes}" th:value="${schema.getId()}" style="color: black">[[${schema.getName()}]]</option>
                        </select>
                    </form>
                    <form method="get" action="/admin/session_creation/new_schema">
                        <span style="margin-right: 0.55vw;">Создать новую схему </span>
                        <input type="number" name="num_of_fields" style="width: 10vw; margin: 0 0.2vw; border-radius: 5px; border-width: 1px;" placeholder="Количество разделов">
                    </form>
                </div>
            </div>

            <div th:if="${errors != null || msgs != null}"
                    style="background: aliceblue; height: 7vw; width: 37.8vw; display: inline-block; padding: 10px; border-radius: 20px; box-shadow: 0px 4px 49px 14px rgb(51 135 199 / 58%); position: absolute; font-size: 16px;">
                <div th:each="error : ${errors}">❌ [[${error}]]</div>
                <div th:each="msg : ${msgs}">⚠ [[${msg}]]</div>
            </div>

            <br><br>

            <!-- Если в схемме сессии есть хотя бы один юнит (раздел) -->
            <div th:if="${SchemaModel != null && SchemaModel.getUnits().size() > 0}"
                 th:with="units = ${SchemaModel.getUnits()}"
                 style="height: fit-content; padding-bottom: 3vw;">

                <!-- Шапка -->
                <div style="font-weight: 700; font-style: italic; margin: 1vw 0;">
                    <div style="width: 6.75vw; margin-right: 3vw; display: inline-block;">Paздел</div>
                    <div style="display: inline-block;">Темы раздела и количества вопросов (из каких тем и сколько вопросов включить в тест)</div>
                </div>

                <!-- Форма редактирования схемы сессии -->
                <form method="post" action="/admin/session_creation/update_schema" th:object="${SchemaModel}" name="SessionSchemaEditingForm">
                    <input type="hidden" name="id" th:value="${SchemaModel.getId()}">
                    <!-- Вывод всех юнитов -->
                    <div th:each="unitNumber : ${#numbers.sequence(0, units.size() - 1)}" style="display: flex; margin: 1vw 0"
                         th:with="unit = ${units.get(unitNumber)}">

                        <input type="hidden" th:name="'units[' + ${unitNumber} + '].id'" th:value="${units.get(unitNumber).getId()}">
                        <input type="hidden" th:name="'units[' + ${unitNumber} + '].sessionSchemaId'" th:value="${units.get(unitNumber).getSessionSchemaId()}">

                        <!-- Раздел -->
                        <select th:name="'units[' + ${unitNumber} + '].foKn'" class="UnitFoKn" onchange="document.SessionSchemaEditingForm.submit();">
                            <option th:if="${unit.getFoKn() != null && !unit.getFoKn().isEmpty()}"></option>
                            <option selected th:text="${unit.getFoKn()}"></option>
                            <th:block th:each="foKn : ${fieldsOfKn}">
                                <option th:if="${!foKn.getName().equals(unit.getFoKn())}">[[${foKn.getName()}]]</option>
                            </th:block>
                        </select>
                        <div>
                            <!-- Темы и количества вопросов -->
                            <div style="display: flex;">
                                <div th:each="topicNumber : ${#numbers.sequence(0, 9)}" class="UnitTopicAndQuantity">
                                    <!-- Если раздел для данного юнита еще не выбран (отображаются пустые неактивные поля) -->
                                    <div th:if="${unit.getFoKn() == null || unit.getFoKn().isEmpty()}">
                                        <input type="text" th:placeholder="'Тема №' + ${topicNumber + 1}" disabled style="width: 93%; text-align: center">
                                        <input type="number" style="width: 2.5vw; text-align: center; border-radius: 5px; border-width: 1px;" disabled placeholder="Кол-во">
                                    </div>
                                    <!-- Если раздел для данного юнита уже выбран -->
                                    <div th:if="${!(unit.getFoKn() == null) && !unit.getFoKn().isEmpty()}">
                                        <select th:name="'units[' + ${unitNumber} + '].topics[' + ${topicNumber} + ']'"
                                                th:with="topics = ${unit.getTopics()},
                                                         isSelected = ${topics != null && topics.size() > topicNumber && !topics.get(topicNumber).isEmpty()}"
                                                style="width: 100%;">
                                            <option selected th:text="${isSelected} ? ${unit.getTopics().get(topicNumber)} : ''"></option>
                                            <th:block th:each="topic : ${topicService.findAllByFoKnName(unit.getFoKn())}">
                                                <option>[[${topic.getName()}]]</option>
                                            </th:block>
                                        </select>
                                        <input type="number" th:name="'units[' + ${unitNumber} + '].quantityQuestions[' + ${topicNumber} + ']'"
                                               style="width: 2.5vw; text-align: center; border-radius: 5px; border-width: 1px;"
                                               th:value="${unit.getQuantityQuestions() == null || unit.getQuantityQuestions().size() <= topicNumber ? '' : unit.getQuantityQuestions().get(topicNumber)}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Кнопки -->
                    <div style="width: 79vw; display: flex; align-items: baseline;">
                        <!-- Имя схемы -->
                        <label for="SchemaName" style="font-size: 14px;">Имя схемы (если ее нужно сохранить)</label>
                        <input type="text" id="SchemaName" name="name" th:value="${SchemaModel.getName()}" style="width: 8.3vw; margin: 0 0.5vw;">
                        <!-- Кнопки добавления и удаления юнитов (разделов) схемы -->
                        <input type="hidden" name="action" id="actionInput">    <!-- Поле, значение которого определяет удалять или добавлять юнит -->
                        <input type="submit" value="Добавить раздел" style="margin-left: auto; margin-right: 0.5vw;"
                               onclick='document.getElementById("actionInput").value = "add";
                                        document.SessionSchemaEditingForm.method="get";
                                        document.SessionSchemaEditingForm.action="/admin/session_creation/add_or_remove_unit";'>
                        <input type="submit" value="Удалить раздел" style="margin-right: auto;"
                               onclick='document.getElementById("actionInput").value = "remove";
                                        document.SessionSchemaEditingForm.method="get";
                                        document.SessionSchemaEditingForm.action="/admin/session_creation/add_or_remove_unit";'>
                        <!-- Сохранение схемы и создание сеанса -->
                        <input type="submit" value="Сохранить схему" style="margin-right: 0.5vw;" onclick='document.SessionSchemaEditingForm.action="/entities/session_schemes"'>
                        <input type="submit" value="Создать сеанс по данной схеме" onclick='document.SessionSchemaEditingForm.action="/entities/exam_sessions"'>
                    </div>

                    <!-- Кнопки отображения/скрытия схем -->
                    <div th:style="'margin: 2vw 0; padding-top: 1vw;' + ${displaySchemes == false ? '' : 'border-style: solid none none;'}">
                        <input type="hidden" name="displaySchemes" id="displaySchemesInput">
                        <input type="submit" value="Показать сохраненные схемы" style="margin-right: 0.5vw;"
                               onclick='document.getElementById("displaySchemesInput").value = "true";
                                        document.SessionSchemaEditingForm.action="/admin/session_creation/display_schemes";'>
                        <input type="submit" value="Скрыть сохраненные схемы"
                               onclick='document.getElementById("displaySchemesInput").value = "false";
                                        document.SessionSchemaEditingForm.action="/admin/session_creation/display_schemes";'>
                    </div>

                </form>

                <!-- Отображение схем -->
                <div th:if="${displaySchemes}">
                    <div th:each="scheme : ${schemes}">
                        <div class="displaySchemaHeader" th:onclick="'location.href=\'/admin/session_creation/loading_schema?schemaId=' + ${scheme.getId()} + '&collapse=true\''">[[${scheme.getName()}]]</div>
                        <!-- Схема -->
                        <div class="displaySchemaUnitContainer">
                            <!-- Юниты -->
                            <div th:each="unit : ${scheme.getUnits()}" style="display: flex; margin: .5vw 0;">
                                <div style="width: 6vw; margin: auto 3vw auto 0; padding-left: 1vw;">
                                    [[${unit.getFoKn().getName()}]]
                                </div>
                                <div th:with="topics = ${unit.getTopics()}, quantity = ${unit.getQuantityQuestions()}" style="display: flex;">
                                    <!-- Темы и количества вопросов -->
                                    <div class="UnitTopicAndQuantity" th:each="number : ${#numbers.sequence(0, 9)}">
                                        <input th:value="${number < topics.size() ? topics.get(number).getName() : ''}" readonly style="width: 93%; text-align: center;">
                                        <div class="displaySchemaUnitQuantity">[[${number < quantity.size() ? quantity.get(number) : ''}]]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <!-- Вывод креденшлов после создания схемы -->
        <div th:if="${showCredentials}" style="margin: 20vh auto;">
            <div class="credentialField">[[${username}]]</div>
            <div class="credentialField">[[${password}]]</div>
        </div>


    </div>

</body>
</html>