<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session creation page</title>
    <link href="/session_creation.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/session_creation.js"></script>
</head>
<body>

    <!-- Navbar -->
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <!-- Content -->
    <div th:insert="~{session_creation/session_creation-content :: content}"></div>

</body>
</html>